@model IEnumerable<MVC_CRUD.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All users";
}
<h2>Users</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Place of Birth</th>
            <th>Gender</th>
            <th>Mobile Number</th>
            <th>Email Address</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.UserId</td>
            <td>@user.Name</td>
            <td>@user.Address</td>
            <td>@user.Age</td>
            <td>@user.Bdate</td>
            <td>@user.Placeofbirth</td>
            <td>@user.Gender</td>
            <td>@user.MobileNumber</td>
            <td>@user.EmailAddress</td>
            <td><a asp-action="edit" asp-route-id="@user.UserId" class="text-info">Edit</a></td>
            <td><a asp-action="delete" asp-route-id="@user.UserId" class="text-danger">Delete</a></td>
        </tr>
        }
    </tbody>
</table>